@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');



/* start: Globals */
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
}

body {
    font-family: 'Inter', sans-serif;
    color: var(--slate-700);
}
/* end: Globals */

.username {
    margin-top: 8px; /* Adds space between the image and the text */
    color: var(--slate-700); /* Example color, adjust as needed */
    font-size: 16px; /* Adjust size as needed */
}

/* start: Sidebar */
.chat-sidebar {
    width: 64px;
    background-color: var(--slate-100);
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 50;
}
.chat-sidebar-logo {
    font-size: 28px;
    color: var(--emerald-600);
    display: block;
    text-align: center;
    padding: 12px 8px;
    text-decoration: none;
}
.chat-sidebar-menu {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 16px 0;
}
.chat-sidebar-menu > * > a {
    display: block;
    text-align: center;
    padding: 12px 8px;
    font-size: 24px;
    text-decoration: none;
    color: var(--slate-400);
    position: relative;
    transition: color .15s ease-in-out;
}
.chat-sidebar-menu > * > a:hover {
    color: var(--slate-600);
}
.chat-sidebar-menu > .active > a {
    box-shadow: inset 4px 0 0 0 var(--emerald-500);
    color: var(--emerald-600);
    background-color: var(--emerald-100);
}
.chat-sidebar-menu > * > a::before {
    content: attr(data-title);
    position: absolute;
    top: 50%;
    left: calc(100% - 16px);
    border-radius: 4px;
    transform: translateY(-50%);
    font-size: 13px;
    padding: 6px 12px;
    background-color: rgba(0, 0, 0, .6);
    color: var(--white);
    opacity: 0;
    visibility: hidden;
    transition: all .15s ease-in-out;
}
.chat-sidebar-menu > * > a:hover::before {
    left: calc(100% - 8px);
    opacity: 1;
    visibility: visible;
}
.chat-sidebar-profile {
    margin-top: auto;
    position: relative;
    text-align: center;
    font-size: 2px; /* Makes the text smaller */
    font-weight: bold; /* Makes the text bolder */
}
.chat-sidebar-profile .username{
    font-size: small;
}
.chat-sidebar-profile-toggle {
    background-color: transparent;
    border: none;
    outline: transparent;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
}
.chat-sidebar-profile-toggle > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.chat-sidebar-profile-dropdown {
    position: absolute;
    bottom: 100%;
    left: 16px;
    background-color: var(--white);
    box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
    list-style-type: none;
    border-radius: 4px;
    padding: 4px 0;
    opacity: 0;
    visibility: hidden;
    transform: scale(.9);
    transform-origin: left bottom;
    transition: all .15s ease-in-out;
}
.chat-sidebar-profile.active .chat-sidebar-profile-dropdown {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}
.chat-sidebar-profile-dropdown a {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    text-decoration: none;
    color: var(--slate-400);
    font-size: 14px;
}
.chat-sidebar-profile-dropdown a:hover {
    background-color: var(--slate-100);
    color: var(--slate-600);
}
.chat-sidebar-profile-dropdown a:active {
    background-color: var(--slate-200);
}
.chat-sidebar-profile-dropdown a i {
    margin-right: 12px;
    font-size: 17px;
}
/* end: Sidebar */



/* start: Content side */
.chat-content {
    padding-left: 64px;
    height: 100%;
    position: relative;
}
.content-sidebar {
    width: 256px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    height: 100%;
    position: absolute;
    top: 0;
    left: 64px;
}
.content-sidebar-title {
    font-size: 20px;
    font-weight: 600;
    padding: 16px;
}
.content-sidebar-form {
    position: relative;
    padding: 0 16px;
}
.content-sidebar-input {
    padding: 8px 16px;
    background-color: var(--slate-100);
    border: 1px solid var(--slate-300);
    outline: none;
    width: 100%;
    border-radius: 4px;
    padding-right: 32px;
    font-size: 14px;
}
.content-sidebar-input:focus {
    border-color: var(--slate-400);
}
.content-sidebar-submit {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 32px;
    color: var(--slate-400);
    background-color: transparent;
    outline: transparent;
    border: none;
    cursor: pointer;
    transition: color .15s ease-in-out;
}
.content-sidebar-submit:hover {
    color: var(--slate-600);
}

.content-messages-list > .active > a {
    background-color: var(--slate-100);
}
.content-message-title {
    margin-left: 16px;
    margin-right: 16px;
    color: var(--slate-400);
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 2px;
    position: relative;
}
.content-message-title > * {
    position: relative;
    z-index: 1;
    padding: 0 4px 0 0;
    background-color: var(--white);
}
.content-message-title::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    height: 0;
    border-bottom: 1px solid var(--slate-300);
    z-index: 0;
}



.profile-img {
    display: block; /* Ensures the image does not have inline behavior */
    margin: 0 auto; /* Centers the image inside the button */
    width: 50px; /* Example size, adjust as needed */
    height: 50px; /* Maintains aspect ratio */
    border-radius: 50%; /* Circular profile pictures */
}


/* start: Breakpoints */
@media screen and (max-width: 1600px) {
    .chat-container {
        max-width: unset;
        height: 100vh;
    }
}
/* end: Breakpoints */
.user-profile {
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    margin-bottom: 0.5rem;
  }
  
  .user-profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .user-profile:hover {
    background-color: #e2e2e2;
  }
  .conversation {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* This will push the form to the bottom */
    background-color: var(--slate-100);
    height: 100%; /* Make sure this is effectively 100% of its parent */
    padding-left: 256px; /* Adjust based on your layout needs */
}

.conversation-form {
    padding: 8px 16px;
    background-color: var(--white);
    height: 58.6px; /* This is relative to its flex container */
    width: 100%;
    display: flex;
    align-items: center; /* This will center items vertically inside the form */
}
.conversation-form-button {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: none;
    background-color: transparent;
    outline: transparent;
    font-size: 20px;
    color: var(--slate-400);
    cursor: pointer;
    flex-shrink: 0;
}
.conversation-form-button:hover {
    background-color: var(--slate-100);
    color: var(--slate-600);
}
.conversation-form-group {
    width: 100%;
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
}
.conversation-form-input {
    background-color: var(--slate-100);
    border: 1px solid var(--slate-300);
    border-radius: 4px;
    outline: transparent;
    padding: 10px 32px 10px 16px;
    font: inherit;
    font-size: 14px;
    resize: none;
    width: 100%;
    display: block;
    line-height: 1.5;
    max-height: calc(20px + ((14px * 2) * 6));
}
.conversation-form-input:focus {
    border-color: var(--slate-400);
}
.conversation-form-record {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 20px;
    color: var(--slate-400);
    background-color: transparent;
    border: none;
    outline: transparent;
    cursor: pointer;
}
.conversation-form-record:hover {
    border-color: var(--slate-700); /* Dark border on hover */
    color: var(--slate-700); /* Dark text/icon color on hover */
    background-color: transparent; /* Maintain a transparent background */
}
.conversation-form-submit {
    background-color: var(--emerald-500);
    box-shadow: 0 2px 8px -2px var(--emerald-500);
    color: var(--white);
}
.conversation-messages{
    display: flex;
    height: 671px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow-y: auto;
    padding: 10px;
}
.ownMessage{
    flex-direction: row;
    flex-direction: right;
}
.ownMessageBox {
    align-self: flex-end;  /* Aligns your messages to the right */
    background-color: #dcf8c6;  /* Light green background, common for the sender */
    margin: 5px;
    padding: 5px 10px;
    border-radius: 10px;
    max-width: 80%;
}
.ownImageBox {
    align-self: flex-end;
    max-width: 400px;  /* Maximum width of images */
    max-height: 400px; /* Maximum height of images */
    width: auto;       /* Maintain aspect ratio */
    height: auto;      /* Maintain aspect ratio */
    border-radius: 8px;
    
}
.ownImage {
    align-self: flex-end;
    max-width: 400px;  /* Maximum width of images */
    max-height: 400px; /* Maximum height of images */
    width: auto;       /* Maintain aspect ratio */
    height: auto;      /* Maintain aspect ratio */
    border-radius: 8px;
}
.otherMessage{
    flex-direction: row;
}
.otherMessageBox {
    align-self: flex-start;  /* Aligns other messages to the left */
    background-color: #fff;  /* White background for the recipient */
    margin: 5px;
    padding: 5px 10px;
    border-radius: 10px;
    max-width: 80%;
}
.active-user-profile {
    background-color: #28bc86; /* Light blue background */
    border-left: 5px solid rgb(26, 170, 96); /* Adds a blue left border for emphasis */
}
/* Styling for the button that acts as a file input trigger */
.file-upload-button {
    position: relative;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

/* Styling for the icon inside the button */
.file-upload-icon {
    font-size: 24px;  /* Adjust size as needed */
}

/* Styling for the invisible file input overlay */
.file-input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}
.file-name {
    margin-left: 10px;
    font-size: 14px;
    color: #666; /* Adjust color as needed */
}