@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");
:root {
  --primary: #eeeeee;
  --secondary: #227c70;
  --green: #82cd47;
  --secondary-light: rgb(34, 124, 112, 0.2);
  --secondary-light-2: rgb(127, 183, 126, 0.1);
  --white: #fff;
  --black: #393e46;

  --shadow: 0px 2px 8px 0px var(--secondary-light);
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  background: linear-gradient(to right,rgb(235, 135, 228),rgb(219, 238, 144));;
}

.navbar {
  display: flex;
  align-items: center;
  height: 70px;
  background-color: var(--white);
  padding: 0 8%;
  box-shadow: var(--shadow);
}

.navbar-logo {
  max-width: 100px;
  max-height: 60px;
  object-fit: contain;
}

.navbar-list {
  width: 100%;
  text-align: right;
  padding-right: 2rem;
}

.navbar-list li {
  display: inline-block;
  margin: 0 1rem;
}

.navbar-list li a {
  font-size: 1rem;
  font-weight: 500;
  color: var(--black);
  text-decoration: none;
}

.profile-dropdown {
  position: relative;
  width: fit-content;
  z-index: 2;
}

.profile-dropdown-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1rem;
  font-size: 0.9rem;
  font-weight: 500;
  width: 150px;
  border-radius: 50px;
  color: var(--black);
  /* background-color: white;
  box-shadow: var(--shadow); */

  cursor: pointer;
  border: 1px solid var(--secondary);
  transition: box-shadow 0.2s ease-in, background-color 0.2s ease-in,
    border 0.3s;
}

.profile-dropdown-btn:hover {
  background-color: var(--secondary-light-2);
  box-shadow: var(--shadow);
}
#profile-pfp {
    max-width: 20px;
    max-height: 20px;
    border-radius: 50%;
    z-index: 2;
}
.profile-img {
  position: relative;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-size: cover;
}

.profile-img i {
  position: absolute;
  right: 0;
  bottom: 0.3rem;
  font-size: 0.5rem;
  color: var(--green);
}
.username {
 margin-left: 10px;
 max-width: 55px;
 overflow: hidden; /* Hide any overflowing text */
 text-overflow: ellipsis; /* Show ellipsis (...) for overflowing text */
 white-space: nowrap; /* Prevent text from wrapping to the next line */
 display: inline-block; /* Ensure that the element respects max-width */
}

.profile-dropdown-btn span {
  margin: 0 0.5rem;
  margin-right: 0;
}

.profile-dropdown-list {
  position: absolute;
  top: 68px;
  width: 220px;
  right: 0;
  background-color: var(--white);
  border-radius: 10px;
  max-height: 0;
  overflow: hidden;
  box-shadow: var(--shadow);
  transition: max-height 0.5s;
}

.profile-dropdown-list hr {
  border: 0.5px solid var(--green);
}

.profile-dropdown-list.active {
  max-height: 500px;
}

.profile-dropdown-list-item {
  padding: 0.5rem 0rem 0.5rem 1rem;
  transition: background-color 0.2s ease-in, padding-left 0.2s;
}

.profile-dropdown-list-item a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--black);
}

.profile-dropdown-list-item a i {
  margin-right: 0.8rem;
  font-size: 1.1rem;
  width: 2.3rem;
  height: 2.3rem;
  background-color: var(--secondary);
  color: var(--white);
  line-height: 2.3rem;
  text-align: center;
  margin-right: 1rem;
  border-radius: 50%;
  transition: margin-right 0.3s;
}

.profile-dropdown-list-item:hover {
  padding-left: 1.5rem;
  background-color: var(--secondary-light);
}
.profile-container {
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    background: linear-gradient(to right,rgb(235, 135, 228),rgb(219, 238, 144));
  }
  
  .profile-item {
    width: 300px;
    height: 200px;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 10px;
    background-color: #eeeeee;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
  }
  
  .profile-item img {
    border-radius: 50%;
    left: 10px;
    top: 20px;
    max-width: 70px;
    max-height: 70px;

  }
  .pfp{
    height: 70px;
    width: 70px;
  }
  .profile-item .name {
    font-size: 25px;
    font-weight: bolder;
    color: #333;
    margin: 10px 0;
  }
  
  .profile-item .details {
    font-size: 16px;
    color: #12c155;
  }
  .profile-item .state {
    font-size: 16px;
    color: #12c155;
  }
  .location-link {
    position: absolute;
    left: 10px;
    bottom: 6px;
    font-size: 1.5em; 
    cursor: pointer;
    color: #1212c1;
  }
  .location-link :hover{
    color: #12c155;
  }
  .chatboxLink {
    position: absolute;
    right: 10px;
    bottom: 6px;
    font-size: 1.5em; /* Adjust the font size as desired */
    width: 25px; /* Add this if you need it */
  }
  .chatboxLink :hover{
    color: #12c155;
  }
  .custom-map-container {
      display: flex;
      flex-direction: column-reverse;
      width: 400px;
      height: 400px;
      position: absolute;
      top: 120px;
      border: 2px solid #000;
      border-radius: 5px;
      background-color: #fff;
  }

  .custom-close-button {
    position: absolute;
    top: 5px;
    right: 15px;
    padding: 0px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .custom-location-label {
      position: absolute;
      top: 5px;
      left: 10px;
      font-size: 14px;
  }

  .custom-map {
      width: 100%;
      height: calc(100% - 30px);
  }

  .qualities-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f0f0f0; /* Background color of the bar */
    padding: 10px 20px; /* Padding around the content */
    border-bottom: 1px solid #ccc; /* Bottom border */
  }

  .qualities-bar .budget-input label {
    margin-right: 10px;
  }

  .qualities-bar .budget-input input[type="number"] {
    width: 100px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-right: 10px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #677f89;
    transition: 0.4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: var(--secondary);
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  .label-text {
    margin-left: 60px; 
    display: flex;
    align-items: center;
    height: 34px; 
    font-size: 16px;
    vertical-align: middle; /* Ensure vertical alignment */
  }
  a {
    text-decoration: none;
  }
  
  i.fa-solid.fa-network-wired {
    color: blue;
    transition: color 0.3s;
  }
  
  a:hover i.fa-solid.fa-network-wired {
    color: green;
    cursor: pointer;
  }